<!DOCTYPE html>
<html >
    <head>
        <!-- meta section -->
        <title>SongUkê</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
        <!-- ./meta section -->
        <!-- css styles -->
        <link rel="stylesheet" type="text/css" href="app/assets/css/blue-white.css" id="dev-css">
        <!-- ./css styles -->
        <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="assets/css/dev-other/dev-ie-fix.css">
        <![endif]-->
        <!-- javascripts -->
        <script type="text/javascript" src="app/assets/js/plugins/modernizr/modernizr.js"></script>
        <script src = "https://plus.google.com/js/client:platform.js" async defer></script>
        <script src="https://apis.google.com/js/api:client.js"></script>
        <!-- ./javascripts -->
        <style>
            .dev-page{visibility: hidden;}
        </style>
    </head>
    <body ng-app="song" ng-controller="mainController">
        <!-- set Pré carregamento -->
        <div ng-class="{'dev-page-loading preloader': islogin}"></div>
        <!-- ./set loading layer -->
        <!-- page wrapper -->
        <div ng-class="{'dev-page': islogin}">
            <!-- logo azul -->
            <div ng-if="islogin" class="dev-page-header">
                <div class="dph-logo">
                    <a href="index.html">SongUkê</a>
                    <a class="dev-page-sidebar-collapse">
                        <div class="dev-page-sidebar-collapse-icon">
                            <span class="line-one"></span>
                            <span class="line-two"></span>
                            <span class="line-three"></span>
                        </div>
                    </a>
                </div>
                <!-- parte superior branca  -->
                <ul class="dph-buttons pull-right">
                    <img ng-src="{{photo}}" width="40" height="40" style="border-radius: 4px;">
                    <label> {{user}} </label>
                    <button class="btn btn-facebook" ng-click="sair()" style="margin-right: 10px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px;"> Sair </button>
                </ul>
                <!-- ./parte superior branca  -->
            </div>
            <!-- ./logo azul -->

            <!-- page container -->
            <div ng-class="{'dev-page-container': islogin}">
                <!-- Menu  -->
                <div ng-show="islogin" class="dev-page-sidebar">
                    <ul class="dev-page-navigation">
                        <li class="title">Opções</li>
                        <li>
                            <a ui-sref="home.index"><i class="fa fa-music"></i> <span>Acompanhar</span></a>
                        </li>
                        <li>
                            <a ui-sref="solicitar.index"><i class="fa fa-microphone"></i> <span>Solicitar</span></a>
                        </li>
                        <li>
                            <a ui-sref="sugerir.index"><i class="fa fa-lightbulb-o"></i> <span>Sugerir</span></a>
                        </li>
                        <li>
                            <a ui-sref="music.index" ><i class="fa fa-music"></i> <span>Gerenciar Músicas</span></a>
                        </li>
                    </ul>
                </div>
                <!-- ./Menu -->

                <!-- conteúdo -->
                <div ng-class="{'dev-page-content': islogin}" ng-view>
                    <!--AQUI VAI O CONTEUDO-->
                    <ui-view></ui-view>

                </div>
                <!-- ./conteúdo -->
            </div>
        </div>
        <!-- ./page wrapper -->

        <!-- javascript -->
        <script type="text/javascript" src="app/assets/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="app/assets/js/plugins/bootstrap/bootstrap.min.js"></script>

        <script type="text/javascript" src="app/assets/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="app/assets/js/plugins/moment/moment.js"></script>

        <script type="text/javascript" src="app/assets/js/plugins/knob/jquery.knob.min.js"></script>
        <script type="text/javascript" src="app/assets/js/plugins/sparkline/jquery.sparkline.min.js"></script>

        <script type="text/javascript" src="app/assets/js/plugins/bootstrap-select/bootstrap-select.js"></script>

        <script type="text/javascript" src="app/assets/js/plugins/nvd3/d3.min.js"></script>
        <script type="text/javascript" src="app/assets/js/plugins/nvd3/nv.d3.min.js"></script>
        <script type="text/javascript" src="app/assets/js/plugins/nvd3/lib/stream_layers.js"></script>

        <script type="text/javascript" src="app/assets/js/plugins/waypoint/waypoints.min.js"></script>
        <script type="text/javascript" src="app/assets/js/plugins/counter/jquery.counterup.min.js"></script>



        <!--Angular da vida-->
        <script src="lib/angular/angular.js" ></script>
        <script src="lib/angular/angular.min.js" ></script>
        <script src="lib/angular-route/angular-route.js" ></script>
        <script src="lib/angular-route/angular-route.min.js" ></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

        <!--<script src="app/app.js" ></script>-->
        <script src="app/app.module.js" ></script>
        <script src="app/app.routes.js" ></script>

        <script src="app/controllers/main.controller.js"></script>
        <script src="app/controllers/home.controller.js"></script>
        <script src="app/controllers/login.controller.js"></script>
        <script src="app/controllers/solicitar.controller.js"></script>
        <script src="app/controllers/sugerir.controller.js"></script>
        <script src="app/controllers/music.controller.js"></script>

        <!--<script type="text/javascript" src="js/dev-settings.js"></script>-->
        <script type="text/javascript" src="app/assets/js/dev-loaders.js"></script>
        <script type="text/javascript" src="app/assets/js/dev-layout-default.js"></script>
        <script type="text/javascript" src="app/assets/js/demo.js"></script>
        <script type="text/javascript" src="app/assets/js/dev-app.js"></script>
        <script type="text/javascript" src="app/assets/js/demo-dashboard.js"></script>
        <!-- ./javascript -->
    </body>
</html>
