<div class="panel panel-default">
    <div class="panel-heading">Músicas Sugeridas</div>
    <table class="table">
        <thead>
            <tr>
                <th ng-click="ordenarPor('music_name')"> Nome </th>
                <th ng-click="ordenarPor('singer_name')"> Artista </th>
                <th ng-click="ordenarPor('category_name')"> Categoria </th>
                <th ng-click="ordenarPor('name_user')"> Usuário </th>
                <th > Aceitar/Recuzar </th>
            </tr>
            <tr>
                <th ><input class="form-control" type="text" ng-model="buscarMusic.music_name" placeholder="Nome..."></th>
                <th ><input class="form-control" type="text" ng-model="buscarMusic.singer_name" placeholder="Artista..."></th>
                <th ><input class="form-control" type="text" ng-model="buscarMusic.category_name" placeholder="Categoria..."></th>
                <th ><input class="form-control" type="text" ng-model="buscarMusic.name_user" placeholder="Usuário..."></th>
                <th > </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="music in musics| filter:buscarMusic">
                <td>{{music.music_name}}</td>
                <td>{{music.singer_name}}</td>
                <td>{{music.category_name}}</td>
                <td>{{music.name_user}}</td>
                <td style="text-align: center;">
                    <button  ng-click="aceitarMusica(music)" style="cursor: pointer;border-color: purple;" class="btn btn-info"><span class="fa fa-check-circle"  ></span> </button>
                    <button  ng-click="recusarMusica(music)" style="cursor: pointer;border-color: purple;" class="btn btn-info"><span class="fa fa fa-times" ></span>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>

    <button ng-show="false" id="dialogAdicionarSugestaoAdmin" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalAdicionar"></button>

    <div class="container">
        <!-- Trigger the modal with a button -->
        <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
        <!-- Modal -->
        <div class="modal fade" id="myModalAdicionar" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Infor</h4>
                    </div>
                    <div class="modal-body">
                        <p>Adicionado com sucesso!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 