<!-- page wrapper -->
<div class="dev-page dev-page-login dev-page-login-v2">

    <div class="col-lg-9 col-md-6">
        <div class="wrapper">
            <div class="page-subtitle">
                <h2><br><br><br></h2>
            </div>
        </div>
    </div>
    <a class="dev-page-login-block__logo"></a>
    <div class="dev-page-login-block__form" style="padding: 5px 30% 5px 30%;">
        <div class="title" style="text-align: center;"><strong>Bem Vindo! Entre com sua rede social.</strong></div>
        <form >
            <div class="form-group no-border margin-top-20">
                <button class="btn btn-facebook btn-block" scope="email, public_profile" ng-click="init()">
                    <span class="fa fa-facebook"></span> Facebook
                </button>
            </div>
            <div class="form-group no-border margin-top-20">
                <button class="btn btn-danger btn-block" ng-click="startApp()">
                    <span class="icon"></span>
                    <div style="color: #fff;" ><span class="fa fa-google"></span> Gmail </div>
                </button>
                <button id="customBtn" class="customGPlusSignIn btn btn-google" style=" visibility: hidden">
                </button>
            </div>
            <p><a href="#" style="color: grey; text-decoration: none;">Quem somos?</a></p>
        </form>
    </div>
    <div class="col-lg-9 col-md-6">
        <div class="wrapper">
            <div class="page-subtitle">
                <h2><br><br><br><br></h2>
            </div>
        </div>
    </div>
    <div class="dev-page-login-block__footer" style="position: absolute; bottom: 5px; text-align: center;">
        © 2017 <strong>SongUkê Services Ltda</strong>. Todos os direitos reservados.
    </div>

</div>