<!-- page wrapper -->
<div class="dev-page dev-page-login dev-page-login-v2">
    <a class="dev-page-login-block__logo"></a>
    <div class="dev-page-login-block__form">
        <br><br>
        <div class="title" style="color: #fff; text-align: center;"> <img src="app/assets/images/logo.png" height="40"><br><strong>Bem Vindo! Entre com sua rede social.</strong></div>
        <br><br>
        <form>
            <div class="form-group no-border margin-top-20">
                <button class="btn btn-facebook btn-block" scope="email, public_profile" ng-click="init()" style="background-color: #2d6987; color: #fff;" >
                    <span class="fa fa-facebook"></span> Facebook
                </button>
            </div>
            <div class="form-group no-border margin-top-20">
                <button class="btn btn-danger btn-block" ng-click="startApp()" style="background-color: #FF3B30; color: #fff;">
                    <span class="fa fa-google"></span> Gmail
                </button>
                <button id="customBtn" class="customGPlusSignIn btn btn-google" style="visibility: hidden"></button>
            </div>
            <!--<p><a href="#" style="color: #D3D3D3; text-decoration: none;">Quem somos?(Somos Toppezeiros)</a></p>-->
        </form>
    </div>
    <br><br><br><br><br><br>
    <p style=" color: #fff; text-align: center; font-size: 15px;">© 2017 <strong>SongUkê Serviços Ltda.</strong><br></p>
    <p style=" color: #fff; text-align: center; font-size: 12px;"><i>Todos os direitos reservados.</i></p>
</div>


<!-- Button trigger modal -->
<button ng-show="false" id="semEmail" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm"></button>

<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Login
                </h4>
                <h5 class="modal-title">
                    Não foi possível obter seu email do facebook, pois é privado, por favor informe seu email para prosseguir.
                </h5>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Seu Email </label>
                      <input type="email" class="form-control"
                      ng-model="email" placeholder="Enter email"/>
                  </div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Fechar
                </button>
                <button type="button" ng-click="sendEmail(email)" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .modal-body .form-horizontal .col-sm-2,
    .modal-body .form-horizontal .col-sm-10 {
        width: 100%
    }
    .modal-body .form-horizontal .control-label {
        text-align: left;
    }
    .modal-body .form-horizontal .col-sm-offset-2 {
        margin-left: 15px;
    }
</style>

