<!-- page wrapper -->
<div class="dev-page dev-page-login dev-page-login-v2">
    <a class="dev-page-login-block__logo"></a>
    <div class="dev-page-login-block__form">
        <br><br>
        <div class="title" style="text-align: center;"><strong>Bem Vindo! Entre com sua rede social.</strong></div>
        <br><br>
        <form>
            <div class="form-group no-border margin-top-20">
                <button class="btn btn-facebook btn-block" scope="email, public_profile" ng-click="init()" style="border-color: #20B2AA; color: #87CEEB;" >
                    <span class="fa fa-facebook"></span> Facebook
                </button>
            </div>
            <div class="form-group no-border margin-top-20">
                <button class="btn btn-danger btn-block" ng-click="startApp()" style="border-color: #FAF0E6; color: #800000;">
                    <span class="fa fa-google"></span> Gmail
                </button>
                <button id="customBtn" class="customGPlusSignIn btn btn-google" style="visibility: hidden"></button>
            </div>
            <p><a href="#" style="color: #D3D3D3; text-decoration: none;">Quem somos?</a></p>
        </form>
    </div>
    <br><br><br><br><br>
    <p style="text-align: center; font-size: 15px;">© 2017 <strong>SongUkê Services Ltda.</strong><br></p>
    <p style="text-align: center; font-size: 12px;"><i>Todos os direitos reservados.</i></p>
</div>
