<div class="panel panel-default">
 <div class="panel-heading">Buscar Músicas</div>
    <div style="margin-right: 15px; float: right; position: relative; top: 3px;">
        <span  ng-click="goNovaMusica()" class="btn btn-info"> Nova Música </span>
        <span  ng-click="goListCategory()" class="btn btn-info"> Gestão Categoria </span>
        <span  ng-click="goListArtist()" class="btn btn-info"> Gestão Artista </span>
    </div>
        <table class="table">
        <thead>
            <tr>
                <th ><input class="form-control" type="text" ng-model="buscarMusic.music_name" placeholder="Nome..."></th>
                <th ><input class="form-control" type="text" ng-model="buscarMusic.singer_name" placeholder="Artista..."></th>
                <th ><input class="form-control" type="text" ng-model="buscarMusic.category_name" placeholder="Categoria..."></th>
            </tr>
            <!-- 
            <tr>
                <th ng-click="ordenarPor('nome')"> Nome </th>
                <th ng-click="ordenarPor('contato')"> Contato </th>
                <th ng-click="ordenarPor('qtde_casos')"> Quantidade de Casos </th>
            </tr>
            -->
        </thead>
        <tbody>
            <tr ng-repeat="music in musics| filter:buscarMusic">
                <td>{{music.music_name}}</td>
                <td>{{music.singer_name}}</td>
                <td>{{music.category_name}}</td>
                <td style="text-align: center;">
                    <i ng-click="apagarMusica(music)"  style="cursor: pointer;" class="fa fa-trash-o"> Apagar</i> <!--data-toggle="modal" data-target="#myModalApagar"-->
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

 <div class="container">
    <!-- Trigger the modal with a button -->
    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

    <!-- Modal -->
    <div class="modal fade" id="myModalApagar" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Infor</h4>
            </div>
            <div class="modal-body">
            <p>Apagado com sucesso!.</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
</div>

