<div class="panel panel-default">
    <div class="panel-heading">Gestão de Músicas</div>
    <br>
    <form>
        <label class="col-md-2 control-label">Nome</label>
        <input type="text" id="nome" width="100" ng-model="music.nome" required="true">
        <br><br>
        <!--<label class="col-md-2 control-label">Duração</label>
        <input type="number" id="duracao" step="1" ng-model="music.duracao" required="false">
        <br><br>-->
        <label class="col-md-2 control-label">Artista</label>
        <select ng-model="music.artista" id="artista" required>
            <option value="">Selecione um Artista</option>
            <option ng-repeat="artista in artistas" value="{{artista.id}}">{{artista.name}}</option>
        </select>
        <br><br>
        <label class="col-md-2 control-label">Categoria</label>
        <select ng-model="music.categoria" id="categoria" required>
            <option value="">Selecione uma Categoria</option>
            <option ng-repeat="categoria in categorias" value="{{categoria.id}}">{{categoria.name}}</option>

        </select>
        <br><br>
        <label class="col-md-2 control-label"></label>
        <div class="form-group">
            <div class="col-md-offset-2">
                <button  ng-disabled="music.nome == '' || music.nome == null || music.categoria == '' || music.categoria == null || music.artista == '' || music.artista == null" class="btn btn-default" ng-click="adicionarMusica(music)" >Adicionar Música</button><!--data-toggle="modal" data-target="#myModalAdicionar"-->
                <button ng-show="false" id="dialogAdicionarMusic" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalAdicionarMusic"></button>
            </div>
        </div>    
        <div class="form-group">
    </div>
    </form>
</div>

<div class="container">
    <!-- Trigger the modal with a button -->
    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

    <!-- Modal -->
    <div class="modal fade" id="myModalAdicionarMusic" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Infor</h4>
            </div>
            <div class="modal-body">
            <p>Adicionado com sucesso!.</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
</div>

