<div class="panel panel-default">
    <!-- page content container -->
    <div class="panel-heading">Sugerir uma Música</div><br>
    <div class="container">
        <!-- Horizontal Form -->
        <div class="wrapper wrapper-white">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nome Música</label>
                    <div class="col-md-5">
                        <input ng-model="music.nome" id="nome" type="text" class="form-control" placeholder="nome...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Artista</label>
                    <div class="col-md-5">
                        <select ng-model="music.artista" id="artista">
                            <option ng-repeat="artista in artistas" value="{{artista.id}}">{{artista.name}}</option>
                            <option value="" >Selecione um Artista </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Categoria</label>
                    <div class="col-md-5">
                        <select ng-model="music.categoria" id="categoria">
                            <option ng-repeat="categoria in categorias" value="{{categoria.id}}">{{categoria.name}}</option>
                            <option value="" >Selecione uma Categoria</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-default" ng-click="sugerir(music)" data-toggle="modal" data-target="#myModalAdicionar">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- ./Horizontal Form -->
    </div>

    <div class="container">
        <!-- Trigger the modal with a button -->
        <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
        <!-- Modal -->
        <div class="modal fade" id="myModalAdicionar" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Infor</h4>
                </div>
                <div class="modal-body">
                <p>Adicionado com sucesso!</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
