<div class="dev-page-content">
    <!-- page content container -->
    <div class="container">
        <!-- Horizontal Form -->
        <div class="wrapper wrapper-white">
            <div class="page-subtitle">
                <h3>Sugira uma música!</h3>
                <p>Você pode cantar sua música preferida.</p>
            </div>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nome Música</label>
                    <div class="col-md-5">
                        <input ng-model="music.nome" type="text" class="form-control" placeholder="nome...">
                    </div>
                </div>
                <div class="form-group">
                    <label style="width: 70px;">Artista</label>
                    <select ng-model="music.artista">
                        <option ng-repeat="artista in artistas" value="{{artista.id}}">{{artista.name}}</option>
                    </select>
                    <br><br>
                    <label style="width: 70px;">Categoria</label>
                    <select ng-model="music.categoria">
                        <option ng-repeat="categoria in categorias" value="{{categoria.id}}">{{categoria.name}}</option>
                    </select>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-default" ng-click="sugerir(music)">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- ./Horizontal Form -->
    </div>
</div>
