<style>
    .novas {
        background-color: #FF3B30;
    }
</style>
<ul class="nav navbar-nav">

</ul>
<ul class="nav navbar-nav navbar-left">
    <li>
        <a ui-sref="home.index" >
            <img src="app/assets/images/logo.png" height="22">
        </a>
    </li>
    <li>
        <a ui-sref="home.index" >
            <i  class="fa fa-list-ul"></i>
            Acompanhar
        </a>
    </li>
    <li>
        <a ui-sref="music.index" >
            <i  class="fa fa-music"></i>
            Músicas
        </a>
    </li>
    <li>
        <a ng-click="novas = false" ui-sref="gerenciarSolicitacoes.index" >
            <i   class="fa fa-microphone"></i>
            Solicitações <span ng-if="aguardando != 0" class="novas" >{{" "+ aguardando+" " }}</span>
        </a>
    </li>
    <li>
        <a ui-sref="gerenciarSugestoes.index" >
            <i  class="fa fa-lightbulb-o"></i>
             Sugestões <span ng-if="aguardando_s != 0" class="novas" >{{" "+ aguardando_s+" " }}</span>
        </a>
    </li>
    <li>
        <a ui-sref="melhores.index" >
            <i  class="fa fa-star"></i>
            Melhores Cantores
        </a>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">

    <li>
        <a ng-click="sair()">
            <i  class="fa fa-reply"></i>
            Sair
        </a>
    </li>
</ul>